<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>XYZ molecular structure file</string>
			<key>UTTypeIdentifier</key>
			<string>com.local.burrete10.xyz</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xyz</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-xyz</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SMILES molecular structure list</string>
			<key>UTTypeIdentifier</key>
			<string>com.local.burrete10.smiles</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>smi</string>
					<string>smiles</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>chemical/x-daylight-smiles</string>
					<string>chemical/x-smiles</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GROMACS structure file</string>
			<key>UTTypeIdentifier</key>
			<string>com.local.burrete10.gro</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gro</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Molecular dynamics trajectory or topology file</string>
			<key>UTTypeIdentifier</key>
			<string>com.local.burrete10.molecular-dynamics</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xtc</string>
					<string>trr</string>
					<string>dcd</string>
					<string>nctraj</string>
					<string>lammpstrj</string>
					<string>top</string>
					<string>psf</string>
					<string>prmtop</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Schrodinger molecular structure file</string>
			<key>UTTypeIdentifier</key>
			<string>com.local.burrete10.schrodinger</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mae</string>
					<string>mae.gz</string>
					<string>maegz</string>
					<string>cms</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>xyzrender-compatible molecular structure file</string>
			<key>UTTypeIdentifier</key>
			<string>com.local.burrete10.xyzrender-input</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cub</string>
					<string>cube</string>
					<string>in</string>
					<string>log</string>
					<string>out</string>
					<string>vasp</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>com.local.burrete10.pdb</string>
				<string>com.local.burrete10.cif</string>
				<string>com.local.burrete10.mmcif</string>
				<string>com.local.burrete10.bcif</string>
				<string>com.local.burrete10.sdf</string>
				<string>com.local.burrete10.smiles</string>
				<string>com.local.burettexyzrender.smiles</string>
				<string>com.local.burrete10.mol</string>
				<string>com.local.burrete10.mol2</string>
				<string>com.local.molstarquicklook10.pdb</string>
				<string>com.local.molstarquicklook10.cif</string>
				<string>com.local.molstarquicklook10.mmcif</string>
				<string>com.local.molstarquicklook10.bcif</string>
				<string>com.local.molstarquicklook10.sdf</string>
				<string>com.local.molstarquicklook10.smiles</string>
				<string>com.local.molstarquicklook10.mol</string>
				<string>com.local.molstarquicklook10.mol2</string>
				<string>org.wwpdb.pdb</string>
				<string>org.wwpdb.cif</string>
				<string>org.wwpdb.mmcif</string>
				<string>org.wwpdb.bcif</string>
				<string>org.iucr.cif</string>
				<string>org.iucr.mmcif</string>
				<string>org.openscience.sdf</string>
				<string>org.openscience.molfile</string>
				<string>org.openscience.mol2</string>
				<string>com.mdli.sdf</string>
				<string>com.mdli.molfile</string>
				<string>com.tripos.mol2</string>
				<string>org.rcsb.pdb</string>
				<string>org.rcsb.cif</string>
				<string>org.rcsb.mmcif</string>
				<string>org.rcsb.pdbx</string>
				<string>org.pdb.pdb</string>
				<string>org.pdb.cif</string>
				<string>org.pdb.mmcif</string>
				<string>org.iucr.corecif</string>
				<string>org.iucr.cif-core</string>
				<string>com.ligandpro.protein.pdb</string>
				<string>com.ligandpro.protein.cif</string>
				<string>com.ligandpro.chemical.sdf</string>
				<string>com.mdl.molfile</string>
				<string>com.mdl.sdf</string>
				<string>jp-minerals.vesta.cif</string>
				<string>jp.sourceforge.vesta.cif</string>
				<string>jp.co.vesta.cif</string>
				<string>org.pdbj.pdb</string>
				<string>org.pdbj.cif</string>
				<string>org.pdbj.mmcif</string>
				<string>uk.ac.ebi.pdbe.pdb</string>
				<string>uk.ac.ebi.pdbe.cif</string>
				<string>uk.ac.ebi.pdbe.mmcif</string>
				<string>public.pdb</string>
				<string>public.mmcif</string>
					<string>public.cif</string>
					<string>public.comma-separated-values-text</string>
					<string>public.tab-separated-values-text</string>
						<string>com.schrodinger.sdf</string>
						<string>com.local.burrete10.xyz</string>
						<string>com.local.burrete10.xyzrender-input</string>
						<string>net.sourceforge.openbabel.xyz</string>
						<string>dyn.ah62d4rv4ge81u8p4</string>
						<string>com.local.burrete10.gro</string>
						<string>com.local.burrete10.molecular-dynamics</string>
						<string>com.local.burrete10.schrodinger</string>
						<string>dyn.ah62d4rv4ge80s6xt</string>
						<string>com.schrodinger.pdb</string>
					</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PreviewViewController</string>
	</dict>
</dict>
</plist>
