<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>com.local.molstarquicklook10.pdb</string>
				<string>com.local.molstarquicklook10.cif</string>
				<string>com.local.molstarquicklook10.mmcif</string>
				<string>com.local.molstarquicklook10.bcif</string>
				<string>com.local.molstarquicklook10.sdf</string>
				<string>com.local.molstarquicklook10.mol</string>
				<string>com.local.molstarquicklook10.mol2</string>
				<string>org.wwpdb.pdb</string>
				<string>org.wwpdb.cif</string>
				<string>org.wwpdb.mmcif</string>
				<string>org.wwpdb.bcif</string>
				<string>org.iucr.cif</string>
				<string>org.iucr.mmcif</string>
				<string>org.openscience.sdf</string>
				<string>org.openscience.molfile</string>
				<string>org.openscience.mol2</string>
				<string>com.mdli.sdf</string>
				<string>com.mdli.molfile</string>
				<string>com.tripos.mol2</string>
				<string>com.palm.database</string>
				<string>com.apple.palm-database</string>
				<string>com.apple.palm-pdb</string>
				<string>org.rcsb.pdb</string>
				<string>org.rcsb.cif</string>
				<string>org.rcsb.mmcif</string>
				<string>org.rcsb.pdbx</string>
				<string>org.pdb.pdb</string>
				<string>org.pdb.cif</string>
				<string>org.pdb.mmcif</string>
				<string>org.iucr.corecif</string>
				<string>org.iucr.cif-core</string>
				<string>com.ligandpro.protein.pdb</string>
				<string>com.ligandpro.protein.cif</string>
				<string>com.ligandpro.chemical.sdf</string>
				<string>com.mdl.molfile</string>
				<string>com.mdl.sdf</string>
				<string>jp-minerals.vesta.cif</string>
				<string>jp.sourceforge.vesta.cif</string>
				<string>jp.co.vesta.cif</string>
				<string>com.apple.palm.database</string>
				<string>com.apple.palm.pdb</string>
				<string>com.palm.pdb</string>
				<string>com.palmos.database</string>
				<string>com.palmos.pdb</string>
				<string>org.pdbj.pdb</string>
				<string>org.pdbj.cif</string>
				<string>org.pdbj.mmcif</string>
				<string>uk.ac.ebi.pdbe.pdb</string>
				<string>uk.ac.ebi.pdbe.cif</string>
				<string>uk.ac.ebi.pdbe.mmcif</string>
				<string>public.pdb</string>
				<string>public.mmcif</string>
				<string>public.cif</string>
				<string>com.schrodinger.sdf</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PreviewViewController</string>
	</dict>
</dict>
</plist>
